@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  @media print {
    body {
      background-color: white !important;
      color: black !important;
    }
    header, footer, nav, button, .print\:hidden {
      display: none !important;
    }
    #printable-voucher {
      display: block !important;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

